body{
    background-image: url("j9.jpg");
    height: 100%;
}

.score{
    font-size: 2vw;
    color: cyan;

}

.lives{
    margin-left: 100px;
    text-align: left;
    font-size: 2vw;
    color: red;
}
.thebox{
    margin: 0 500px!important;
    padding: 20px;
    background-color: rgb(199, 31, 31);
}

h1{
    padding: 10px 32px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 20px;
    color: red; 
    text-align: center;
}

b{
    font-weight: 400;
    font-size: 13vw;
}

.j{
    color: red;
}

.u{
    color: orange;
}

.m{
    color: yellow;
}

.bl{
    color: green;
}

.l{
    color: blue;
}

.e{
    color: indigo;
}
p{
    font-size: 25px;
}

.btn1{
    width: 60px!important;
    background-color: yellow!important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif!important;
    font-size: 30px!important;
    color: rgb(255, 81, 0)!important;
}


input{
    padding: 10px 32px;
    font-size: 100px;
}

.selectedword{
    background-color: grey;
    color: cyan;
    font-size: 40px;

}

.l1, .l2{display: inline;}

@media only screen and (max-width: 800px)
{
    .score{
        font-size: 5vw;
        padding: 0;
    }

    .lives{
        text-align: center;
        padding: 0;
        font-size: 5vw;
        margin-left: 0px;
    }
}