body{
    background-image: url("j9.jpg");
    
    /*background-color: black;*/
    height: 100%;
}

.thebox{
    margin: 0 500px!important;
    padding: 20px;
    background-color: gainsboro;
}

h1{
    padding: 50px 32px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: red; 
    text-align: center;
}

b{
    font-weight: 400;
    font-size: 13vw;
}

.j{
    color: red;
}

.u{
    color: orange;
}

.m{
    color: yellow;
}

.bl{
    color: green;
}

.l{
    color: blue;
}

.e{
    color: indigo;
}
p{
    font-size: 35px;
}

.btn1{
    width: 60px!important;
    background-color: yellow!important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif!important;
    font-size: 40px!important;
    color: rgb(255, 81, 0)!important;
}


input{
    padding: 10px 32px;
    font-size: 100px;
}

.selectedword{
    background-color: grey;
    color: cyan;
    font-size: 50px;

}