body{
    background-image: url("j9.jpg");
    height: 100%;
}

.level{
    font-size: 2.5vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: chartreuse;
}

.score{
    font-size: 2vw;
    color: cyan;

}

.lives{
    margin-left: 100px;
    text-align: left;
    font-size: 2vw;
    color: red;
}

.thebox{
    margin: 0 500px!important;
    padding: 20px;
    background-color: rgb(199, 31, 31);
}

h1{
    padding: 10px 32px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 20px;
    color: red; 
    text-align: center;
}

b{
    font-weight: 400;
    font-size: 13vw;
}

.j{
    color: red;
}

.u{
    color: orange;
}

.m{
    color: yellow;
}

.bl{
    color: green;
}

.l{
    color: blue;
}

.e{
    color: indigo;
}
p{
    font-size: 25px;
}

.btn1{
    width: 60px!important;
    background-color: yellow!important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif!important;
    font-size: 30px!important;
    color: rgb(255, 81, 0)!important;
}


input{
    padding: 10px 32px;
    font-size: 100px;
}

.selectedword{
    background-color: grey;
    color: cyan;
    font-size: 40px;

}

.l1, .l2{display: inline;}

.modal {
    color: red;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(f,f,f); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
@media only screen and (max-width: 800px)
{
    .score{
        font-size: 5vw;
        padding: 0;
    }

    .level{
        font-size: 5vw;
    }
    
    .lives{
        text-align: center;
        padding: 0;
        font-size: 5vw;
        margin-left: 0px;
    }
}